/* For devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .google-image img {
        width: 80px; /* Adjust the width as needed */
    }
}

/* For devices with a maximum width of 576px */
@media only screen and (max-width: 576px) {
    .google-image img {
        width: 40px; /* Adjust the width as needed */
    }
}

body {
    margin: 0px;
    background-image: url("https://images.unsplash.com/photo-1484114805781-7e5bdef9cb9d?q=80&w=1901&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; /* Makes the background image cover the whole screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative; /* Add this to make absolute positioning relative to body */
}

.zoom-button {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 35%;
}

.zoom-button button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 2.5vmin;
    color: white;
    background-color: black;
    cursor: pointer;
    height: 7vmin;
    width: 7vmin;
    border: 0.4vmin solid rgb(200, 200, 200);
    border-radius: 100%;
    transition: transform 0.3s, box-shadow 0.3s; /* Removed background-color transition */
}

.zoom-button button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Glow effect */
}

.zoom-button button:active {
    box-shadow: none; /* Remove glow effect when button is clicked */
    transition: box-shadow 0.3s; /* Add transition for glow removal */
}

.zoom-button button:focus {
    outline: none; /* Remove focus outline */
}

.zoom-button button.clicked {
    transition: box-shadow 0.3s; /* Add transition for glow restoration */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Restore glow effect */
    pointer-events: none; /* Disable button clicks during transition */
}

.zoom-button button.clicked:after {
    content: ""; /* Add a pseudo-element for the transition */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1; /* Behind the button */
    transition: background-color 0.5s; /* Transition for the pseudo-element */
}

.zoom-button button.clicked:hover:after {
    background-color: rgba(255, 255, 255, 0.5); /* Glow effect on pseudo-element */
}






.display {
    width: 800px; /* Adjust width as needed */
    margin-bottom: 20px; /* Add spacing below search input */
    position: absolute;
    top: 25.5%;
    background: transparent;
    border: none; /* Remove border if any */
    padding: 0; /* Remove padding if any */
    left: 37%;
}

.display::after {
    content: '';
    background: linear-gradient(to right, white, black); /* Static gradient from white to black */
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


.display:focus-within::after {
    background: linear-gradient(to-right, white, black); /* Gradient transition to white */
}

.display input[type="text"] {
    width: 100%;
    height: 40px; /* Adjust height as needed */
    font-size: 16px;
    background: transparent;
    border: none; /* Remove border if any */
    padding: 0; /* Remove padding if any */
    color: black;
}

.display input[type="text"]:focus {
    outline: none; /* Remove default focus outline */
}






.google-image {
    position: absolute;
    left: 33%; /* changes the distance from the left */
    top: 25%; /* changes the distance from the top */
}

.google-image img {
    width: auto; /* Default width */
    height: 60px; /* Maintain aspect ratio */
}

.dropdown select {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-color: grey;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown select option {
    background-color: black;
    color: white;
}

.dropdown {
    margin-bottom: 10px;
}

.logo-container {
    top: 0%;
    right: 0%;
    position: absolute;
}

.logo-container img {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}
